<!DOCTYPE html>

<html>
    <head>
        <title> Manage Ratings | Recco </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/manage_ratings.css') }}">
    </head>

    <body>
        <div class="manage-ratings-page-wrapper">
            <!-- Nav Bar -->
            <div class="nav-bar-wrapper"> 
                <div class="left-aligned-nav-wrapper">
                    <div class="nav-title-text"> RECCO </div>
                </div>
                <div class="right-aligned-nav-wrapper">
                    <div class="username-text"> {{username}} </div>
                </div>
            </div>

            <!-- Manage Ratings -->
            <div class="manage-ratings-wrapper">
                <!-- Rating List -->
                <div class="rating-list-wrapper">
                    <ul class="rating-list">
                        {% for movie_title, rating in user_ratings %}
                            <li class="rating-list-item"> 
                                <div class="rating-list-movie-title-text"> {{ movie_title }} </div>
                                <div class="rating-list-text-divider"></div>
                                <div class="rating-list-movie-rating-text"> {{ rating }} </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Add Ratings -->
                <form action="/add_rating" method="post">
                    <input class="user-new-movie" type="text" id="search-box" name="search-box" placeholder="Search movies..." />
                    <div id="search-results-wrapper">
                        <ul id="results-list">
                            <div id="results"></div>
                        </ul>
                    </div>
                    <div class="user-new-rating-wrapper">
                        <div class="stars">
                            ★★★★★
                            <div class="stars-fill">★★★★★</div>
                        </div>
                        <input type="range" class="star-rating-range" id="rating" name="rating" min="0" max="5" step="0.5" value="0">
                    </div>
                    <input type="submit" name="submit_new_rating_form" value="Add Rating">
                </form>


            </div>

            
        </div>

    </body>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ratingStars.js') }}"></script>

</html>