<!DOCTYPE html>

<html>
<head>
    <title>Recommendations</title>
</head>
<body>
    <div class="recommendations-wrapper">
        <div class="username-text"> {{username}} </div>

        {% if recommendations %}
            <h2>Top Recommendations:</h2>
            <ul>
                {% for item in recommendations %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% elif recommendations is none %}
            <p>No recommendations available for this user.</p>
        {% endif %}
        
        <input type="text" id="searchBox" placeholder="Search movies..." />
        <div id="results"></div>
        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    </div>
</body>
</html>