<!DOCTYPE html>

<html>
<head>
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
</head>
<body>
    <div class="recommendations-wrapper">
        <div class="username-text"> {{username}} </div>

        {% if recommendations %}
            <h2>Top Recommendations:</h2>
            <ul>
                {% for item in recommendations %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% elif recommendations is none %}
            <p>No recommendations available for this user.</p>
        {% endif %}

        <form action="{{ url_for('add_rating') }}" method="get">
            <button class="add-rating-button" type="submit"> Add Ratings </button>
        </form>
    </div>
</body>
</html>