<!DOCTYPE html>

<html>
<head>
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
</head>
<body>
    <div class="recommendations-page-wrapper">
        <div class="nav-bar-wrapper"> 
            <div class="left-aligned-nav-wrapper">
                <div class="nav-title-text"> RECCO </div>
            </div>
            <div class="right-aligned-nav-wrapper">
                <div class="username-text"> {{username}} </div>
            </div>
        </div>
        
        <div class="recommendations-wrapper">
            <div class="list-title-text"> Popular Movies: </div>
            {% if popular_movies %}
                <ul class="recommendations-list">
                    {% for item in popular_movies %}
                        <div class="recommendations-list-item-wrapper">
                            <li class="recommendations-list-item"> {{ item }} </li>
                            <div class="user-new-rating-wrapper">
                                <form action="/recommendations" method="post">
                                    <input type="hidden" name="movie-title" value="{{ item }}">
                                    <div class="stars">
                                        ★★★★★
                                        <div class="stars-fill">★★★★★</div>
                                    </div>
                                    <input type="range" class="star-rating-range" id="rating" name="rating" min="0" max="5" step="0.5" value="0">
                                    <input type="submit" class="submit_recco_rating" name="submit_recco_rating" value="Add Rating">
                                </form>
                            </div>
                            <div class="placeholder"></div>
                            <div class="placeholder"></div>
                        </div>
                    {% endfor %}
                </ul>
            {% elif popular_movies is none %}
                <p> No popular movies available. </p>
            {% endif %}


            <div class="list-title-text"> Recommended for you: </div>
            {% if recommendations %}
                <!-- <h2>Top Recommendations:</h2> -->
                
                    <!-- <div class="film-deco-wrapper" id="film-deco-wrapper">

                    </div> -->
                <ul class="recommendations-list">
                    {% for item in recommendations %}
                        <div class="recommendations-list-item-wrapper">
                            <li class="recommendations-list-item"> {{ item }} </li>
                            <div class="user-new-rating-wrapper">
                                <form action="/recommendations" method="post">
                                    <input type="hidden" name="movie-title" value="{{ item }}">
                                    <div class="stars">
                                        ★★★★★
                                        <div class="stars-fill">★★★★★</div>
                                    </div>
                                    <input type="range" class="star-rating-range" id="rating" name="rating" min="0" max="5" step="0.5" value="0">
                                    <input type="submit" class="submit_recco_rating" name="submit_recco_rating" value="Add Rating">
                                </form>
                            </div>
                            <div class="placeholder"></div>
                            <div class="placeholder"></div>
                        </div>
                    {% endfor %}
                </ul>
                    <!-- <div class="dotted-line"></div> -->
                    
                    <!-- <div class="film-deco-wrapper" id="film-deco-wrapper"> -->

                    <!-- </div> -->
                
            {% elif recommendations is none %}
                <p> No recommendations available for this user. </p>
            {% endif %}
        
            <form action="{{ url_for('add_rating') }}" method="get">
                <div class="add-rating-wrapper">
                    <div> Want better recommendations? </div>
                    <button class="add-rating-button" type="submit"> Add Ratings Here </button>
                </div>
            </form>

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/hoverMovieRating.js') }}"></script>
<script src="{{ url_for('static', filename='js/addFilmSquares.js') }}"></script>
</html>